.blockPlanets {
    padding: 30px 40px;
    width: calc(100% - 350px);
    height: 100%;
    overflow: auto;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--secondBackgroundColor);
}
.headerPlanets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    color: var(--theme);
    
}
.listPlanets {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    orphans: 1;
    widows: 1;
}
@media (min-width: 544px) {
    .listPlanets {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 992px) {
    .listPlanets {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 1281px) {
    .listPlanets {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (min-width: 1920px) {
    .listPlanets {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}