.button {
    padding: 0 15px;
    height: 32px;
    background-color: var(--theme);
    font-size: 13px;
    font-weight: bold;
    color: var(--buttonText);
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    outline: none;
}
    